[hosts]
loaclhost ansible_connection=local
pet	ansible_connection=ssh	ansible_user="{{result.user}}"	ansible_port="{{result.port}}"	ansible_ssh_private_key_file="{{result.ssh_key_file_path}}" ansible_ssh_host="{{result.ip_address}}"
